# GitHub Actions documentation:
# https://docs.github.com/en/actions

name: Create new `git tag`, create new GitHub release and publish to NPM

on:
  workflow_run:
    workflows:
      - CI
    branches:
      - master
    types:
      - completed

concurrency:
  group: tag-release-publish-${{ github.ref }}
  cancel-in-progress: true

jobs:
  org:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: DazzlingFugu/.github/.github/workflows/js--tag-release-publish.yml@master
    with:
      node-version: 16
      package-manager: yarn
    secrets:
      npm-automation-token: ${{ secrets.NPM_AUTOMATION_TOKEN }}
